@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i");

$sans-pro: "Source Sans Pro", sans-serif;
$primary-color: #1a4e8e;
$light-gray: #f3f3f3;
$white: #ffffff;
$purple: #911dae;

body {
  background: $light-gray;
  font-family: $sans-pro;
  font-weight: 700;
  * {
    margin:0;
    padding:0;
    font-style: normal;
  }
}
a {
  text-decoration:none;
  color:$purple;
}
h1 {
  font-size: 230%;
  text-transform: uppercase;
}

.card {
  background-color:$white;
  width:500px;
  margin:100px auto;
  padding-top:50px;
  text-align:center;
  border-radius:20px;
}
.profile-name {
  padding:30px 0 40px 0;
}
figure {
  margin:0;
  padding:0;
}
figure img {
  border-radius: 200px;
  width:160px;
  height:160px;
  border: solid 8px $white;
  box-shadow: 0px 0px 20px #e5e5e5;
  
}
.profile-info {
  background-color:$purple;
  padding:25px 20px 40px 20px;
  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.profile-info li {
  margin:0;
  padding:0;
  list-style-type:none;
  display:inline-block;
  margin-right:50px;
}
.profile-info li:last-child {
  margin-right:0;
}
.profile-info li span {
  display:block;
  margin-top:10px;
}
.profile-info li i {
  font-size: 40px;
}
.profile-info a {
  color:$white;
  text-decoration:none;
}